.add{
    width: 70%;
    margin-left: max(5vw,25px);
    margin-top: 50px;
    color: #6d6d6d;
    font-size: 16px;
}
.add form{
    gap: 20px;
}
.add-img-upload img{
 width: 100px;
 height: 80px;
}
.add-product-name, .add-product-description{
 width: max(40%,280px);
}
.add-product-name  input{
    padding: 10px;
}
.add-product-description textarea{
    padding: 10px;
}
.add-category-price{
    display: flex;
    gap: 30px;
}
.add-category-price select{
    max-width: 120px;
    padding: 10px;
}
.add-category-price input{
    max-width: 120px;
    padding: 10px;
}
.btn{
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(46, 107, 46, 0.867);
    color: white;
}
.add-btn{
    max-width: 120px;
    padding: 10px;
    border: none;
    background-color: rgba(46, 107, 46, 0.867);
    color: white;
    cursor: pointer;
    border-radius: 5px;
}